<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="deviceID" value="BIKE001"/>
    <add key="serialPortSpeed" value="115200"/>
  </appSettings>
  
  <connectionStrings>
    <add name="DatabaseEntitiesDataContext"
      connectionString="Data Source=win7dev\sqlexpress;Initial Catalog=test_daniel;Persist Security Info=True;User ID=sa;Password=yayayaya"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>