<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="goGreenBike.Properties.Settings.test_danielConnectionString"
            connectionString="Data Source=sm-arba-vdev01;Initial Catalog=test_daniel;Persist Security Info=True;User ID=webappuser;Password=w3b@ppuS3R"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>