<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="deviceID" value="BIKE001"/>
    <add key="deviceCirc" value="2006.2"/>
    <add key="serialPort" value="COM4"/>
    <add key="serialPortSpeed" value="115200"/>
  </appSettings>
  
  <connectionStrings>
    <add name="DatabaseEntitiesDataContext"
      connectionString="Data Source=sm-arba-vdev01;Initial Catalog=test_daniel;Persist Security Info=True;User ID=webappuser;Password=w3b@ppuS3R"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>