<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BikeGoGreenContext" connectionString="Data Source=win7dev\sqlexpress;Initial Catalog=test_daniel;Persist Security Info=True;User ID=sa;Password=yayayaya"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.test_danielConnectionString"
            connectionString="Data Source=win7dev\sqlexpress;Initial Catalog=test_daniel;Persist Security Info=True;User ID=sa;Password=yayayaya"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>